@page
@model IndexModel
@{
    ViewData["Title"] = "Albums";
}

<div class="ui segment">
    <h3 class="ui header">Add a new album</h3>
    <div class="ui action left icon input">
        <form method="post" action="~/album/new/create/">
            <input type="text" name="name" id="name" aria-label="Album name" placeholder="Album name" required/>
            <input type="submit" id="newalbum" data-progress="Creating..." value="New album">
        </form>
    </div>
</div>

@if (Model.Albums.Count == 0)
{
    <p>There are no albums yet. Create new albums and upload photos.</p>
}

<div class="ui segment">
    <h3 class="ui header">My Albums</h3>
    <div role="list" class="ui divided relaxed list">
        @foreach (var album in Model.Albums)
        {
            <div role="listitem" class="item">
                <a href="/album/@album.AlbumId/">@album.Name</a>
            </div>
        }

    </div>
</div>